%form{:action => "/madmin/settings", :method => "post"}
  %p
    %label{:for => "sms_invite_reminder"} SMS Invite Reminder Copy
    %br
    %textarea{:name => "sms_invite_reminder"}
      = @sms_invite_reminder
  %p
    %input{:type => "submit", :value => "submit"}
