%form{:action => "/madmin/app/settings", :method => "post"}
  %p
    %label{:for => "SMS Invite Reminder Copy"}
    %br
    %input{:type => "text", :name => "sms_invite_reminder", :value => @sms_invite_reminder}
  %p
    %input{:type => "submit", :value => "submit"}
