%h1 Stats
%article
  %h2 Active Users
  #active-users

%article
  %h2 Videos Sent
  #videos-sent

%article
  %h2 Videos Watched
  #videos-watched

%article
  %h2 Invite Funnel
  #invite-funnel

:javascript
  var Keen=Keen||{configure:function(e){this._cf=e},addEvent:function(e,t,n,i){this._eq=this._eq||[],this._eq.push([e,t,n,i])},setGlobalProperties:function(e){this._gp=e},onChartsReady:function(e){this._ocrq=this._ocrq||[],this._ocrq.push(e)}};(function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src=("https:"==document.location.protocol?"https://":"http://")+"dc8na2hxrj29i.cloudfront.net/code/keen-2.1.0-min.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();

    // Configure the Keen object with your Project ID and (optional) access keys.
  Keen.configure({
    projectId: "518194e13843312d5e000000",
    readKey: "#{ENV["KEEN_READ_KEY"]}"    // required for doing analysis
  });

  var showInviteFunnel = function() {

    var step1 = new Keen.Step("users:invite", {
      name: "Was Invited",
      actorProperty: "invited_phone"
    });

    var step2 = new Keen.Step("invite:view", {
      name: "Viewed Webview",
      actorProperty: "user.phone"
    });

    var step3 = new Keen.Step("users:new", {
      name: "Registered",
      actorProperty: "user.phone"
    });

    var step4 = new Keen.Step("video:create", {
      name: "Sent Video",
      actorProperty: "user.phone"
    });

    var step5 = new Keen.Step("users:invite", {
      name: "Invited Someone",
      actorProperty: "user.phone"
    });

    var inviteFunnel = new Keen.Funnel([step1,step2,step3,step4,step5]);

    inviteFunnel.draw(document.getElementById("invite-funnel"), {
      title: "Invite Funnel"
    });

  };

  Keen.onChartsReady(function() {
    var series = new Keen.Series("video:create", {
      analysisType: "count",
      timeframe: "this_14_days",
      interval: "daily"
    });

    series.draw(document.getElementById("videos-sent"), {
      label: "Videos sent over time"
    });

    var watch = new Keen.Series("video:watch", {
      analysisType: "count",
      timeframe: "this_14_days",
      interval: "daily"
    });

    watch.draw(document.getElementById("videos-watched"), {
      label: "Videos watched over time"
    });

    var users = new Keen.Series("conversations:list", {
      analysisType: "count_unique",
      timeframe: "this_14_days",
      interval: "daily",
      targetProperty: "user.id"
    });

    users.draw(document.getElementById("active-users"), {
      label: "Users who watched a video"
    });


  });
