%section.content
  %h2 video message from jeff:
  .video-container
    = video_tag "/video.mp4"

  .actions
    .caption sent using hollerback for iphone
    .primary-action.action-button.button get the app to reply
    .secondary-action no iphone?
    .caption it's fun and free!
