%section.content
  %h2 video message from jeff:
  .video-container
    = video_tag "/video.mp4"
  .actions
    .caption sent using hollerback for iphone
    .primary-action.action-button.primary.button.with-image
      %img{src: image_path("hollerback-banana-app-icon.png")}
      %span.push get the app to reply
    .secondary-action
      %a{href: "/waitlist"} no iphone?
    .caption it's fun and free!
