%section.content
  %h2
    %strong jeff
    is using hollerback

  .video-container
    = video_tag "/jeff.mp4"

  .explain
    {{name}} is waiting for your response on Hollerback. It's Free.

  .actions
    .ios-store {{available on the app store}}
